button {
    float: right;
}

h1 {
    background-color: rgb(123, 123, 123);
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    

}

body {
    margin: 0;
    background-color: white;
}                   

.firstNameBlock {
    display: inline-block;
    background-color: pink;
}


th, tr,td {
    
    border: 1px solid;
    margin-left: 2px;
    padding: 2px;
    width: 10%;
   
}