button {
    margin-left: 121px;
    display: flex;
    color:blue
    background-color blueviolet;
    float: right;
}

h1 {
    background-color: darkgrey;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    

}

body {
    margin: 0;
    background-color: white;
}