button {
    float: right;
    background-color:  #f8bd97;
}

h1 {
    background-color: rgb(123, 123, 123);
    width: 100%;
    margin: 0;
    text-align: center;
    color: #f8bd97;
    font-family: lora;


}

h2 {
    color: #faefeb;
}

body {
    margin: 0;
    background-color: #30393e;
}                   

.firstNameBlock {
    display: inline-block;
    
}


th, tr,td {
    
    border: 1px solid;
    margin-left: 2px;
    padding: 2px;
    width: 10%;
    background-color: #988f88;
    border-color: #f8e5d7;
   
}

p {
    color:  #faefeb;
    float:right
   
}

